<%= form_tag "/tshirt/buy", role: "form", class: "form-inline tshirt_size_form" do %>
  <div class="form-group">
  	<%= select_tag :size, options_for_select([ "Masculino - P", "Masculino - M", "Masculino - G", "Masculino - GG", "Babylook - P", "Babylook - M", "Babylook - G"]), class: "form-control tshirt_size_select" %>
 	</div>
<% end %>

	<div class="tshirt_buy_button"
			<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
			<form action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post" id="pagseguro">
			<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
			<input type="hidden" name="itemCode" value="14697212FCFCC15554277F94A523DC1B" />
			<input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/209x48-comprar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
			</form>
			<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
		</div>

	<div class="tshirt_size">
		<img src='https://s3.amazonaws.com/heisenbergcamisetas/tshirt_sizes/masculino_P.jpg'>
	</div>	
