<%= form_tag "/tshirt/buy", role: "form", class: "form-inline tshirt_size_form" do %>
  <div class="form-group">
  	<%= select_tag :size, options_for_select([ "Masculino - P", "Masculino - M", "Masculino - G", "Masculino - GG", "Babylook - P", "Babylook - M", "Babylook - G"]), class: "form-control tshirt_size_select" %>
 	</div>

 	<div class="form-group">
		  <%= button_tag "comprar", type: "submit", class: "btn btn-success" %>
	</div>

	<div class="tshirt_size">
		<p>teste</p>
	</div>	
<% end %>