<div class="row tshirt">
	<% @tshirts.each do |tshirt| %>
		<div class="col-md-5 col-xs-12 text-center">	
			<%= image_tag image_url(tshirt.image) %>
		</div>
		<div class="col-md-7 col-xs-12">	
			<h1>
				<%= tshirt.name %>
				<%= number_to_currency(tshirt.price, unit: 'R$') %>
				<small>Masculina ou Feminina</small>
			</h1>

			<%= render 'size' %>
			<div class="row">
				<div class="col-md-12">
					<p>Camiseta 100% Poliester - Com toque de malha PV, super macia e confortável.
						Não protege contra químicos tóxicos, não dê uma de Breaking Bad com ela. 
						Estampa em sublimação (não mancha, não sai com lavagem e é altamente durável).
						Tamanho acima pode variar 2cm para mais ou para menos. Science, bitch!
					</p>
				</div>
			</div>
		</div>
	<% end %>
</div>