<%= params %>

<% if params[:gender] == "male" %>
	<% if params[:size] == "small" %>
		<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
		<form target="pagseguro" action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post">
		<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
		<input type="hidden" name="itemCode" value="14697212FCFCC15554277F94A523DC1B" />
		<input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/209x48-comprar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
		</form>
		<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
	<% elsif params[:size] == "medium" %>
		<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
		<form target="pagseguro" action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post">
		<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
		<input type="hidden" name="itemCode" value="F8FED0779090FA1334A4DFADA7741D54" />
		<input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/209x48-comprar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
		</form>
		<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
	<% elsif params[:size] == "large" %>
		<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
		<form target="pagseguro" action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post">
		<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
		<input type="hidden" name="itemCode" value="ECF2983811116F2CC46E0FB4E213DFD6" />
		<input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/209x48-comprar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
		</form>
		<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
	<% elsif params[:size] == "extra large" %>
		<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
		<form target="pagseguro" action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post">
		<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
		<input type="hidden" name="itemCode" value="6B9ADE169090E825544F3FAAEA10AD5A" />
		<input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/209x48-comprar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
		</form>
		<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
	<% end %>
<% elsif params[:gender] == "female" %>
	<% if params[:size] == "small" %>
		<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
		<form target="pagseguro" action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post">
		<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
		<input type="hidden" name="itemCode" value="307B38DD0101952CC442BFB5F0217CBF" />
		<input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/209x48-comprar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
		</form>
		<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
	<% elsif params[:size] == "medium" %>
		<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
		<form target="pagseguro" action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post">
		<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
		<input type="hidden" name="itemCode" value="9085523CEAEA365FF4E5AFB40CD265D0" />
		<input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/209x48-comprar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
		</form>
		<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
	<% elsif params[:size] == "large" %>
		<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
		<form target="pagseguro" action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post">
		<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
		<input type="hidden" name="itemCode" value="1E8C38FCAFAF3256647EFF9C6AB93A7B" />
		<input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/209x48-comprar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
		</form>
		<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
	<% elsif params[:size] == "extra large" %>
		<p>GG babylook não disponível</p>
	<% end %>
<% end %>