<div class="container text-center" >
	<hr />
	<p>Camisetas Heisenberg: 100% garantido por <a href="http://breakingbad.wikia.com/wiki/Skinny_Pete" target="_blank">Skinny Pete</a> (e pelo PagSeguro)</p>
	<p>Fone: (51) 8183.7361</p>
	<p>Contato: <a href="mailto:skinny@heisenbergcamisetas.com.br">Skinny Pete</a>, moving mad volume, yo</p>
</div>